.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navB {
  display: none;
}

.navBListVisible {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #000000;
  padding: 2rem;
}
.navBListVisible .navBList {
  width: 100%;
  height: 100%;
}
.navBListVisible .navBList li {
  margin: 1rem 0;
}
.navBListVisible .navBList li a {
  text-decoration: none;
  color: white;
}

.abrirMenu {
  cursor: pointer;
  font-size: 2rem;
  color: #000000;
}

.cerrarMenu {
  color: white;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-content {
  width: 100%;
  max-width: 450px;
  background-color: #2C2F35;
  padding: 4rem 5rem 6rem;
  text-align: center;
  border-radius: 5%;
}
.form-content h1 {
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #FFFFFF;
  position: relative;
}
.form-content h1::after {
  content: " ";
  width: 2rem;
  height: 4px;
  border-radius: 3%;
  background: #04BD7D;
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.input-group {
  height: 230px;
}

.input-field {
  background-color: #515966;
  margin: 1rem 0;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  overflow: hidden;
}
.input-field input {
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
  padding: 1rem 1rem;
  color: #FFFFFF;
}
.input-field input::-webkit-input-placeholder {
  color: #FFFFFF;
}
.input-field input::-moz-placeholder {
  color: #FFFFFF;
}
.input-field input:-ms-input-placeholder {
  color: #FFFFFF;
}
.input-field input::-ms-input-placeholder {
  color: #FFFFFF;
}
.input-field input::placeholder {
  color: #FFFFFF;
}
.input-field i {
  margin-left: 1rem;
  color: #04BD7D;
}

form p {
  color: #FFFFFF;
  text-align: left;
  font-size: 13px;
}
form p a {
  color: #04BD7D;
  margin-left: 5px;
}

.btn-field {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.btn-field button {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  font-size: 1rem;
  background-color: #04BD7D;
  color: #FFFFFF;
  height: 3rem;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  -webkit-transition: background 1s;
  transition: background 1s;
}
.btn-field button .disable {
  background-color: #EAEAEA;
  color: #2C2F35;
}

.btn {
  width: 100%;
  margin-bottom: 12px;
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  font-size: 1rem;
  background-color: #04BD7D;
  color: #FFFFFF;
  height: 3rem;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Verdana, Tahoma, sans-serif;
  text-decoration: none;
}

body {
  background-image: url("../assets/img/971.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

img {
  width: 15rem;
  height: 15rem;
}

.productsContainer {
  margin: 5rem 2rem;
}

.items {
  width: 100%;
  padding: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.items button {
  margin: 1rem 0 2rem 0;
  border: none;
  padding: 1rem;
  color: white;
  background-color: gray;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 10px;
}

.bottonDelCarrito {
  font-size: 2.3rem;
  position: absolute;
  left: 190vh;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.bottonDelCarrito:hover {
  -webkit-transform: scale(1, 1.1);
          transform: scale(1, 1.1);
}

.cerrarEvento {
  cursor: pointer;
}

.evento {
  display: none;
  background-color: rgba(0, 0, 0, 0.011);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.eventoContainer {
  display: none;
  background-color: aliceblue;
  -webkit-box-shadow: 8px 3px 6px rgba(189, 160, 160, 0.1607843137);
          box-shadow: 8px 3px 6px rgba(189, 160, 160, 0.1607843137);
  position: absolute;
  top: 0;
  right: 0;
  max-width: 500px;
  width: 100%;
  z-index: 1;
  height: 100%;
  overflow-y: scroll;
}

.buscadorBinamico {
  padding: 0.7rem;
  padding-right: 10rem;
  margin-left: 15rem;
}

.edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.carritoCompras {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#img-dos {
  width: 10rem;
  height: 10rem;
}

.eliminarProducto {
  cursor: pointer;
}

.restar {
  cursor: pointer;
}

.sumar {
  cursor: pointer;
}